{
  "table_mappings": [
    { "source": "INV", "destination": "invoices" },
    { "source": "INVL", "destination": "invoiceLine" },
    { "source": "PO", "destination": "purchase" },
    { "source": "POL", "destination": "purchaseLine" },
    { "source": "MSTR", "destination": "products" },
    { "source": "LOC", "destination": "productsLoc" },
    { "source": "CUST", "destination": "locations" }
  ]
}